:root {
    --neon: #00ff41;
    --bg: #050505;
    --warn: #ffff00;
    --danger: #ff4141;
}

body {
    background: var(--bg);
    color: var(--neon);
    font-family: 'Courier New', monospace;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    overflow-x: hidden;
}

/* DISCLAIMER BANNER */
.disclaimer {
    background: var(--warn);
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    animation: blink 2s infinite;
    font-size: 14px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}

.content { padding: 1.5rem; }

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--neon);
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}

.module {
    border: 1px solid var(--neon);
    background: #000;
    padding: 1.2rem;
    box-shadow: inset 0 0 5px rgba(0, 255, 65, 0.1);
}

h2 {
    font-size: 14px;
    margin-top: 0;
    background: #004d1a;
    padding: 5px;
    color: #fff;
    border-left: 4px solid var(--neon);
}

label {
    font-size: 10px;
    display: block;
    margin-top: 10px;
    color: #008f11;
}

input {
    background: #000;
    border: 1px solid var(--neon);
    color: var(--neon);
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    box-shadow: 0 0 10px var(--neon);
}

button {
    background: var(--neon);
    color: #000;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    transition: all 0.2s;
}

button:hover {
    background: #fff;
    box-shadow: 0 0 15px var(--neon);
}

.danger {
    background: var(--danger);
    color: #fff;
}

.danger:hover {
    background: #fff;
    color: var(--danger);
    box-shadow: 0 0 15px var(--danger);
}

#log {
    border: 1px solid #333;
    height: 150px;
    overflow-y: auto;
    background: #000;
    padding: 10px;
    font-size: 11px;
    margin-top: 20px;
    white-space: pre-wrap;
    color: var(--neon);
    border-radius: 2px;
}

#tokenBal {
    font-size: 11px;
    margin-bottom: 10px;
    display: block;
    color: #aaa;
    letter-spacing: 1px;
}
